.wholeWrapper {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  display: inline;
}

.movieSceneImage {
  display: inline;
  position: relative;
  aspect-ratio: 1/0.25;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.infoBlock {
  display: block;
  // flex-direction: row;
  // flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.poster {
  display: inline-block;
  // display: flex;
  // flex-wrap: wrap;
  position: absolute;
  top: 23vw;
  left: 16.5vw;
  aspect-ratio: 1/1.45;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
  border: 0.2em solid white;
  box-shadow: 0 0 0.03em 0.03em grey;
  width: 11.5%;
}

.titlesAndIcons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 3% 0 0;
  padding-left: 30%;
  padding-top: 1.4%;
  padding-bottom: 2%;
}

.movieTitle {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.3vw;
  font-weight: bold;
  padding-bottom: 1%;
}

.movieInfo {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2vw;
  padding-bottom: 1.2%;
  color: rgb(131, 131, 131);
}

.averageRating {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2vw;
  padding: 1.2% 0;
  margin: 0 22% 1.2% 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: rgb(224, 224, 224);
}

.starIcon {
  display: flex;
  flex-wrap: wrap;
  font-size: 80%;
}

.clickables {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.starAndLetter {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0 2%;
  border-right: 1px solid rgb(224, 224, 224);
}

.rateStars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 80%;
  margin-bottom: 2%;
  color: rgb(168, 168, 168);
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  object-fit: cover;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

//별 컴포넌트
.eachStars {
  object-fit: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  object-fit: cover;
  width: 100%;
  height: auto;
  // filter: gray; /* IE6-9 */
  // -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  // filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  // cursor: pointer;
}

.on {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  object-fit: cover;
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(0);
  filter: none;
  cursor: pointer;
}
.off {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  object-fit: cover;
  width: 100%;
  height: auto;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  cursor: pointer;
}

//컴포넌트 끝

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  height: auto;
  border: 1px solid orange;
  padding-top: 2.5%;
}

.wantToWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

.wantTo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 100%;
}

.notYet {
  display: flex;
  flex-wrap: wrap;
  font-size: 130%;
}

.yesPlease {
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
}

.commentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}

.comment {
  display: flex;
  flex-wrap: wrap;
}
